<% if resource.errors.any? %>
  <div class="auth-error">
    <strong><%= resource.errors.count %> erro(s) encontrado(s):</strong>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
